.About,
.department {
  margin: 5% auto;
}
.About h1 {
  text-align: center;
}
.aboutsec {
  margin: 5% 1rem;
  overflow: hidden;
}

.aboutCont {
  display: flex;
}
.aboutCon {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  transition: 0.8s all;
}

.aboutCon div {
  width: 80%;
  font-size: 1.1rem;
  background: #191c29;
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  padding: 1.5rem 2rem;
}
.department .content1 {
  padding: 2.3rem 2rem;
}
.img img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid #191c29;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  width: 80%;
}
.department {
  text-align: center;
}
@media (max-width: 850px) {
  .aboutCont {
    flex-direction: column;
  }
}
