.Mission_section{
    display: flex;
    width: 100vw;
    height: 60vh;
    position: absolute;
    padding: 2rem 2rem;
    backdrop-filter: contrast(0.5);
    margin: 3rem 0;
}
#mission{
    background-image: url('DSC_0006.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    animation: floatImage 4s ease-in-out infinite;
    cursor: pointer;
}
#vision{
    background-image: url('DSC_0089.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; 
    animation: floatImage 4s ease-in-out infinite;
    cursor: pointer;
}
.Mission_m{
    width: 50%;
    height: auto;
    padding: 60px 20px;
 }
 p#pri,p#sec{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    line-height: 30px;
    margin-top: 40px;
 }
#content{
    justify-content: center;
}
#secandory{
  visibility: hidden;
} 
@media (max-width : 845px) {
    section{
        display: block;
    }
}
#mission:hover{
    filter: grayscale(50%);
}
#vision:hover{
    filter: grayscale(50%);
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translatey(-0.8rem);
    }

    100% {
        transform: translateY(0);
    }
}
