@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
.Navbar-main {
  position: sticky;
  top: 0;
  z-index: 100000000;
  width: 100%;
  height: 110px;
}
.navbar-collapse{
  text-align: center;
}
.navbar-brand {
  margin-right: 0;
}
nav{
  background-color: #FED049 !important;
  color: rgb(0, 0, 0);
}
.dropdown-item {
  padding: 0.5rem 1.6rem;
}
.mg {
  margin: auto 1vw;
}
/* .nb {
  width: 200px;
} */
.nb img {
  width: 200px;
}
.nb div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.collapse li a:hover {
  border-bottom: 2px solid #ffc107;
}
.active {
  border-bottom: 2px solid #ffc107;
}
.btton{
  border-width: 2px !important;
  border-color: white !important;
  padding: 0.5rem 1rem !important;
  transition: 400ms !important;
  font-size: 1rem !important;
  margin: 0 1rem !important;
}
.btton:hover {
  background-color: white !important;
  translate: 0 -10px !important;
  transform: scale(1.07) !important;
}
@media (max-width: 1192px) {
  .nb img {
    width: 150px;
  }
  .btton {
    border-width: 2px !important;
    border-color: white !important;
    padding: 0.5rem 12px !important;
    transition: 400ms !important;
    font-size: 15px !important;
    margin: 0 5px !important;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
    background: aliceblue;
    padding: 100px;
    position: absolute;
    top: 110px;
    height: 100vh;
    left: 0px;
    right: 0px;
  }
  .nav-item{
    margin: 20px auto;
  }
  .btton {
    margin: 0;
  }
}
