@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1390 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 1.5rem;
  min-width: 31vw;
  color: #000000;
  text-align: center;
  height: 100%;
  background-color: #191c29;
  padding: 30px;
  transition: 0.8s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.testimonial {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.testsec {
  background-color: #f7f7f7;
  padding: 70px 0;
}
.testsec h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  transition: 0.5s ease;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #a6a57a;
}

@media (max-width: 730px) {
  figure.snip1390 blockquote:before {
    font-size: 63px;
    opacity: 0.25;
    font-style: normal;
    top: -11px;
    left: 10px;
  }
  figure.snip1390 blockquote {
    font-size: 0.8rem;
    padding: 32px 10px 30px 30px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 992px) {
  .testsec h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .testsec h2 {
    font-size: 30px;
  }
}
