.position_absolute{
    position: absolute;
    top: 20rem;
    z-index: 1000;
}
.carousel-caption p{
    margin: auto;
    width: 60%;
    font-size: 1.5rem;
}
.carousel-caption h1{
    font-size: 3rem;
}
.btn_same{
    width: 20rem;
}