.position_absolute {
  position: absolute;
  z-index: 1000;
  top: 14%;
}
.carousel-caption p {
  margin: auto;
  width: 60%;
  font-size: 1.5rem;
}
.carousel-caption h1 {
  font-size: 3rem;
}
.btn_same {
  width: 20rem;
}
.bttn {
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
}
.nb {
  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
}
.nb p {
  font-size: 1rem;
  margin-bottom: 0;
}
p {
  margin: 0;
}
@media screen and (max-width: 1099px) {
  .carousel-caption p {
    margin: auto;
    width: 71%;
    font-size: 1rem;
  }
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .btn_same {
    width: 11rem;
  }

  .nb {
    text-align: center;
    font-size: 1rem;
  }
  .nb p {
    font-size: 0.8rem;
  }
  .mg {
    margin: auto 1vw;
    font-size: 0.81rem;
  }
  .bttn {
    padding: 1vw 1vw;
  }
}
@media screen and (max-width: 425px) {
  .carousel-caption h1 {
    font-size: 1.7rem;
    padding: 17px;
  }
  .carousel-caption p {
    width: 92%;
  }
  .btn_same {
    font-size: 0.8rem;
    margin: 0.5rem 1rem !important;
  }
}
