.GalleryStart {
  background-color: #f7f7f7;
  padding-top: 70px;
}
.Carouselmed {
  margin-bottom: -15rem;
}
.GalleryStart h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  transition: 0.5s ease;
}
.mediaVideo {
  text-align: center;
  padding: 0 3rem;
  /* height: 400px; */
  display: flex;
}
.mediaVideo .video {
  width: 50%;
  padding: 2rem;
}
.mediaVideo video {
  width: 100%;
  height: 90%;
}
.mediaVideo .Iframe {
  padding: 2rem;
  width: 50%;
}
iframe {
  width: 100%;
  height: 90%;
}
#gallery img {
  width: 100%;
  height: 100%;
}

#gallery div:hover {
  transform: scale(1.1);
  transition-duration: 0.8s;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.galleryImg {
  width: 23%;
  height: 400px;
  margin: 1%;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  transition: all 1s;
}
.modal-img,
.model-vid {
  width: 100%;
  height: auto;
}
.modal-body {
  padding: 0px;
}
@media screen and (max-width: 1025px) {
  .galleryImg {
    width: 31%;
  }
  .Carouselmed {
    margin-bottom: -5rem;
  }
  .mediaVideo {
    padding: 2rem 0;
    display: flex;
  }
  .mediaVideo .video {
    padding: 1rem;
  }
  .mediaVideo .Iframe {
    padding: 1rem;
  }
}
@media screen and (max-width: 770px) {
  .galleryImg {
    width: 48%;
  }
}
@media screen and (max-width: 500px) {
  .galleryImg {
    height: 250px;
  }
  .mediaVideo {
    flex-direction: column;
  }
  .mediaVideo .video {
    width: 100%;
    padding: 1rem;
  }
  .Iframe {
    height: 270px;
  }
  .mediaVideo .Iframe {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .GalleryStart h2 {
    margin-bottom: 50px;
  }
  .GalleryStart {
    padding: 140px 0;
  }
  .mediaVideo {
    height: 500px;
  }
}
@media screen and (max-width: 500px) {
  .GalleryStart h2 {
    font-size: 30px;
  }
}
