.initiative {
  background-color: #ffffff;
  padding: 70px 0;
}
.initiative h2 {
  color: #00a7e7;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  transition: 0.5s ease;
}

.Services {
  background-color: #ffffff;
  padding: 70px 0;
}
.Services h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  transition: 0.5s ease;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  margin: 0 1em 1em 1em;
  text-align: center;
  transition: 0.8s ease;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.32);
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, rgb(231, 231, 231) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.card h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #5a5e66;
  margin-bottom: 30px;
}
.card h5 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 300;
  color: #00a7e7;
  text-align: left;
  margin-bottom: 10px;
}
.card p {
  color: #6F747E;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.iconwrap {
  background-color: rgb(51, 113, 237);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .iconwrap {
  background-color: #ffffff;
  /* color: rgb(51, 113, 237); */
}
.card:hover h3 {
  color: #0c0b0b;
}
.card:hover p {
  color: #000000;
}
@media screen and (min-width: 768px) {
  /* section {
    padding: 0 2em;
  } */
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .column {
    flex: 0 0 33.33%;
    max-width: 29.33%;
  }
}
@media screen and (max-width: 500px) {
  .Services h2 {
    font-size: 30px;
  }
}
/*
.cardbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 0.5px solid rgb(197, 188, 188);
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  color: black;
  background-color: rgba(251, 240, 240, 0.836);
  height: 90%;
  width: 60%;
}

.objective {
  padding: 1rem;
  height: 100%;
}
.objective ul li {
  list-style: none;

.objective ul li::before {
  content: "\2022";
  color: rgb(22, 38, 166);
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1.5rem;
}
.up {
  padding: 1rem;
}
.up h5 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(20, 37, 188);
}
@media (max-width: 900px) {
  .card {
    width: 90%;
    margin: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .initiative h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .initiative h2 {
    font-size: 30px;
  }
} */
