.initiative {
  background-color: #f7f7f7;
  padding: 70px 0;
}
.initiative h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: 600;
  transition: 0.5s ease;
}
.cardbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 0.5px solid rgb(197, 188, 188);
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  color: black;
  background-color: rgba(251, 240, 240, 0.836);
  height: 90%;
  width: 60%;
}

.objective {
  padding: 1rem;
  height: 100%;
}
.objective ul li {
  list-style: none; /* Remove default bullets */
}

.objective ul li::before {
  content: "\2022";
  color: rgb(22, 38, 166);
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1.5rem;
}
.up {
  padding: 1rem;
}
.up h5 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(20, 37, 188);
}
@media (max-width: 900px) {
  .card {
    width: 90%;
    margin: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .initiative h2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .initiative h2 {
    font-size: 30px;
  }
}
