* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Services h2 {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
  transition: 0.8s ease;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#191c29 50%, rgb(51, 113, 237) 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition-duration: 0.3s;
}
.card h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: 1em 0;
}
.card p {
  color: white;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.iconwrap {
  background-color: rgb(51, 113, 237);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .iconwrap {
  background-color: #ffffff;
  color: rgb(51, 113, 237);
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
