/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.Founder{
  background-color: #f5fefd;
    text-align: center;
    padding: 3rem;
}
.Founder h2{
    padding: 2rem;
}
hr{
  margin: 0;
}
.snip1579 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 50vw;
  max-width: 50vw;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  width: 100%;
  vertical-align: top;
}
.snip1579 figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1579 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.snip1579 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1579 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(85%);
} */

.Founder {
  text-align: center;
  margin: 3rem 0;
}
.Founder h1 {
  padding: 2rem 0;
}
.Fdisplay {
  overflow: hidden;
  background: #638ef4;
  color: white;
  box-shadow: 5px 0 0 0 rgba(204, 204, 204, 0.3),
    -5px 0 0 0 rgba(204, 204, 204, 0.3), 0 5px 0 0 rgba(204, 204, 204, 0.3);
  border-radius: 2%;
  width: 90%;
  margin: auto;
  display: flex;
  box-shadow: ;
}
.FText {
  padding: 5%;
}
.FText,
.Fimg {
  width: 50%;
  text-align: left;
}
.Fimg img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 840px) {
  .FText,
  .Fimg {
    width: 100%;
  }
  .Fdisplay {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  .FText {
    font-size: smaller;
  }
}
